body {
  background: black;
  margin: 0;
}

h1 {
  color: black;
  font-style: italic;
  font-family: staatliches;
  font-size: 40px;
  text-align: center;
}

p {
  color: black;
  font-style: normal;
  font-family: staatliches;
  font-weight: normal;
  font-size: 20px;
  margin: 10px;
  padding: 0,5px;
}

.juventuspic {
align-items: center;
width: 100%;
}

.nextgame {
  background: black;
  text-align: center;
}

.outer1 {
  display: flex;
}

.leatest1 {
  background: white;
  margin: 10px;
  width: 50%;
}

.leatest2 {
  background: white;
  margin: 10px;
  padding: 10px;
  width: 50%;
}

.schedule2 {
  background: #2d2929;
  margin: 10px;
  padding: 10px;
  border: 2px solid white;
  width: 50%;
}

.outer2 {
  display: flex;
}

@media (max-width: 768px) {
  .outer1 {
  display: block;
}

@media (max-width: 768px) {
  .leatest1, .nextgame {
  width: 94%;
}

@media (max-width: 768px) {
  .outer2 {
  display: block;
}

@media (max-width: 768px) {
  .leatest2, .schedule2 {
  width: 89%;
}
