body {
  background-color: black;
}

*{
 box-sizing: border-box;
}

h1 {
  color: black;
  font-style: italic;
  font-family: staatliches;
  font-size: 50px;
  text-decoration-style: dotted;
}

h2 {
  color: black;
  font-style: italic;
  font-family: staatliches;
  font-size: 30px;
  margin: 10px;
}

h3 {
  color: black;
  font-style: normal;
  font-family: staatliches;
  font-size: 20px;
  margin-left: 10px;
}

.outerbanner {
  display: flex;
  background-color: white;
  height: 600px;
  margin-top: 20px;
  border: solid gold 10px;
  margin: 50px;
  font-size: 150px;
  font-style: normal;

}


.genväg {
  background-color: white;
  font-style: normal;
  font-family: staatliches;
  font-size: 30px;
  margin: 50px;
  height: 100px;
  text-align: center;
  border: solid gold 10px;
  justify-content: space-evenly;
  display: flex;
}

.genväg a {
  color: black;
  font-style: normal;
  font-family: staatliches;
  font-size: 50px;
}

.juveteam {
  background-color: white;
  height: 600px;
  margin-top: 20px;
  border: solid gold 10px;
  margin: 50px;
}

.outer {
  display: flex;
  width: 100%;
}

.outer h1 {
  text-align: center;
}

.outerbanner h1 {
  font-size: 150px;
}

.kolumn {
  margin: 50px;
  background-color: white;
  width: 50%;
  border : solid gold 10px
}

.newsimage {
  width: 100%;
}

.juveteam {
  display: flex;
  background-color: white;
  height: 600px;
  margin-top: 20px;
  border: solid gold 10px;
  margin: 50px;
}

.juveteam h1 {
  color:black;
}

@media (max-width: 767px) {
  .outer {
  display: block;
}

@media (max-width: 767px) {
.outerbanner {
  width: 100%;
}
